body{
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
}
.navbar{
  max-height: 15vh;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 20px;
}

.logo{
  display: flex;
  margin-top: 20px;
}
.bg-img{
  height: 100px;
}

.menu-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.menu-item{
  font-weight: 600;
  padding: 0 10px;
  margin: 0 30px;
  color: black;
  text-decoration: none;
}

.menu-item:hover{
  cursor: pointer;
  color: black;
}
.banner{
  background-image: url("../assets/banner.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.banner-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10PX 0 50px 60px;
  margin: 15px 20px;
}

.button-violet{
  background-color: #6f13f0;
  padding: 1rem 2rem;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.heading{
  font-weight: 700;
  font-size: 2.5em;
  color:white;
  background: #00000050;
}

.carousel{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}
.carousel-item{
  max-width: 50%;
  
}

.carousel-img{
  max-height: 102%;
  max-width:100%;
  transition: 300ms ease all;
}

.feature{
  display: flex;
  max-width: 100%;
  overflow: hidden;
}
.feature-img{
  max-width: 50%;
  transition: 300ms ease-out;
}
.feature-img:hover{
  height: 105%;
}
.feature-content{
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  padding: 0 50px;
  flex-direction: column; 
}

.feature-rev{
  display: flex;
  max-width: 100%;
  overflow: hidden;
}

.button-black{
  background-color: black;
  padding: 1em 2em;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  outline:none;
  border: none;
}

.search-section{
  display: flex;
  padding: 10% 10%;
  background-color: #6f13f0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

.footer{
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items:center ;
  margin-bottom: 0;
  background: black;
}

.footer-logo{
  max-height: 30%;
}

.banner-about{
  background-image: url("../assets/about2.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.banner-content-about{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  padding: 10PX 0 50px 60px;
  margin: 15px 20px;
}
 
.site-links{
  display: flex;
  flex-direction: column;
  color: white;
  
}

.footer-link{
  text-decoration: none;  
  list-style-type: none;
  color: white;
}

.pr-social-media {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5%;
}
.pr-share-icons-card {
  display: flex;
  justify-content: space-around;
  margin: 5% 0;
}
.pr-title {
  font-weight: 700;
  font-size: 1.1em;
  color: white;
  margin: 0;
}
.pr-social-media {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5%;
}
.pr-share-icons-card {
  display: flex;
  justify-content: space-around;
  margin: 5% 0;
}

.site-links{
  margin: 30px 15px 0 15px;
}

@media only screen and (max-width: 600px) {
  body{
    font-size: 14px;
  }
  .bg-img{
    height: 40px;
  }
  .navbar{
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu-item{
    margin:20px;
  }
  .banner-about{
    height: 40vh;
  }
  .banner{
    height: 40vh;
  }
  .banner-content{
    padding: 10PX 0 20px 20px;
    margin:0;
  }
  .heading{
    font-size: 1.5em;
  }
  .carousel-item{
    max-width: 100%;
  }
  .feature{
    flex-wrap: wrap;
  }
  .feature-img{
    max-width: 100%;
  }
  .feature-rev{
    flex-wrap: wrap-reverse;
  }
  .footer{
    flex-direction: column;
  }
  .footer-logo{
    height: 15%;
    margin-top: 20px;
  }
}